@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    --FF: 'Josefin Sans', sans-serif;
    --FS: 16px;
    --DESATURATEDRED: hsl(0, 36%, 70%);
    --SOFTRED: hsl(0, 93%, 68%);
    --DARKGRAYISHRED: hsl(0, 6%, 24%);
    --LINEARCOLORONE: hsl(0, 0%, 100%);
    --LINEARCOLORTWO: hsl(0, 100%, 98%);
    --LINEARCOLORTHREE:hsl(0, 80%, 86%);
    --LINEARCOLORFOUR: hsl(0, 74%, 74%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}