@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root{
    --FF: 'Josefin Sans', sans-serif;
    --FS: 16px;
    --DESATURATEDRED: hsl(0, 36%, 70%);
    --SOFTRED: hsl(0, 93%, 68%);
    --DARKGRAYISHRED: hsl(0, 6%, 24%);
    --LINEARCOLORONE: hsl(0, 0%, 100%);
    --LINEARCOLORTWO: hsl(0, 100%, 98%);
    --LINEARCOLORTHREE:hsl(0, 80%, 86%);
    --LINEARCOLORFOUR: hsl(0, 74%, 74%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    font-family: var(--FF);
    font-size: var(--FS);
}

.main__container, .img__primary--mobile {
    margin-inline: auto;
}

.logo {
    transform: scale(80%);
    padding: 20px;
}

.img__primary--mobile {
   display: block;
}

.img__primary--desktop {
    display: none;
}

.text__heading {
    color: var(--DESATURATEDRED);
    font-weight: lighter;
    padding: 50px 40px 0px 40px;
    text-transform: uppercase;
    font-size: 2.5em;
    text-align: center;
    letter-spacing: .5rem;
}

.heading--span {
    font-weight: 600;
    color: var(--DARKGRAYISHRED);
}

.text__paragraph {
    font-size: .9em;
    color: var(--DESATURATEDRED);
    padding: 30px;
    text-align: center;
    line-height: 1.5em;
}

.form__container {
    margin: 0 auto;
    width: 330px;
    position: relative;
}

.input__email {
    all: unset;
    min-width: 80%;
    text-align: left;
    border: .5px solid lightgray;
    padding: 20px;
    border-radius: 30px;
}

.input__email::placeholder {
    color: var(--DESATURATEDRED);
}

.btn__arrow {
    all: unset;
    position: absolute;
    background-image: linear-gradient(135deg, var(--LINEARCOLORONE), var(--LINEARCOLORTWO));
    background-image: linear-gradient(135deg, var(--LINEARCOLORTHREE), var(--LINEARCOLORFOUR));
    position: absolute;
    top: 0;
    right: 0;
    padding-block: 16px;
    padding-inline: 30px;
    border-radius: 30px;
    box-shadow: 0px 10px 20px -10px var(--SOFTRED);
}

@media (min-width: 50em) {

    body {
        background-image: url(/images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .main__container {
        max-width: 1440px;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: repeat(4, 200px);
        gap: 20px;
    }

    .img__primary--mobile {
        display: none;
    }

    .img__primary--desktop {
        display: block;
        grid-column: 2 / 3 ;
    }
    
    .text__container {
        grid-column: 1 / 2;
    }

    .form__container {
        grid-row: 4 / 4;
    }

    .logo {
        transform: scale(100%);
        padding: 70px 150px 100px 150px;
    }

    .text__container {
        max-width: 550px;
        margin-top: 20px;
    }

    .text__heading {
        padding: 0 50px 0 150px;
        font-weight: lighter;
        text-transform: uppercase;
        font-size: clamp(3em, 5vw, 5em);
        text-align: left;
    }
    
    .text__paragraph {
        padding: 20px 0px 20px 150px;
        text-align: left;
        line-height: 2em;
    }

    .form__container {
        width: 400px;
        margin-left: 150px;
    }

    .btn__arrow {
        padding-inline: 45px;
    }
}